@font-face{
  font-family: 'njnaruto' ;
  src: url('fonte/njnaruto.ttf') format('truetype');
}
input{
outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'njnaruto';
    background-color: black;
  }
    
  .container {
    width: 80%;
    margin: auto;
    display: flex;
  }

  .header {
    border-bottom: 45px double #ffa500;
    
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    text-decoration: none;
    color: #ffa500;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #ffa500;
  }
  
  .titulo {
    color: #ffa500;
    width: fit-content;
    font-weight: 500;
  }


  .banner {
    height: fit-content;
    padding: 150px 0;
    background-image: url("img/naruto36005.jpg");
    background-size: cover;
    position: static;
  }
  
  .banner .container {
    height: 400px;

  }

  .footer {
    background-color: #ffa500;
    height: 80px;
    color: #fff;
    display: flex;
    font-size: 20px;
  }
  
  .footer .container {
    justify-content: center;
  }

 /* sobre */
.paragrafo_sobre{
  color:#ffff ; 
  font-size: 30px;
  margin-bottom: 10px;
  border: 2px solid #ffa500;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
 } 

/* login  */

h2{
  color:#ffff;
   font-size: 50px;
   width: 100%;
   
   
}


.banner_img{
height: 81vh;
width: 50vw;
background-image: url('img/naruto-naruto-fon-list.jpg');
background-size: cover;
position: static;

}



.formulario .tipo_campo {
  font-size: 30px;
  font-weight: 600px ;
}

.formulario {
  display: flex;
  flex-direction: column;
  color: #ffff;
}

.container .formulario{
justify-content: flex-start;
}

.card{
  display: flex;
  justify-content: space-between;
  width: 50vw;
  padding-top: 50px;
  
}
input {
  margin-bottom: 10px;
  border: 2px solid #ffa500;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

select{
  margin-bottom: 10px;
  border: 2px solid #ffa500;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}


.btn {
  border: 0;
  border-radius: 5px;
  font-weight: 600px;
  font-size: 25px;
  padding: 10px 15px;
  color: #ffa500;
  width: 120px;
  align-self: center;
  margin-top: 5px;
  font-family: 'njnaruto';
  background-color: black;
}


/* cadastro */





  
 

 
















  